.DS_Store
*.swp
*.swo

# Archivos de respaldo
*~

# Archivos de la papelera en unidades externas/montadas
.Trash-*

# Logs y temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
